.body {
    background-color: #2A2C2F;
    color: #FFFF;
    font-weight: 400;
    margin: auto;
    font-family: Inter, sans-serif;
  }
  
  @media screen and (max-width: 768px) {
    .page {
      width: 100%;
    }
  }