.places {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1 fr));
    grid-template-rows: min-content min-content 1fr;
    column-gap: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .places {
      column-gap: 28px;
    }
  }
  
  @media screen and (max-width: 520px) {
    .places {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 30px;
    }
  }