.lead__subtitle {
    margin: 0 auto 64px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    max-width: 720px;
  }
  
  @media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: calc(100% - 2 * 24px);
        margin-bottom: 36px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__subtitle {        
        max-width: calc(100% - 2 * 16px);
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 20px;
    }
  }